<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>TEIN YAZILIM İNSAN KAYNAKLARI SİSTEMİ</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
  <h1 class="center">TEIN YAZILIM İNSAN KAYNAKLARI SİSTEMİ</h1>

  <img src="https://www.eniyisozler.net/Html-images/Bayraklar/bayrak-9.png" alt="HTML Türk Bayrağı Kodları" border="0"></a>


  <a th:href="@{/user/showNewEmployeeForm}" class="btn btn-primary btn -sm mb-3">YENİ BİR CV YÜKLE(KULLANICI)</a>
  <br>
  <a th:href="@{/admin/listEmploye}" class="btn btn-primary btn -sm mb-3">CV LİSTELE(ADMİN)</a>


</div>
</body>
</html>